<script type="text/javascript">
const url = "{{ url }}";

fetch(url)
    .then(response => response.text())
    .then(html => {
        const metaTagMatch = html.match(/<meta\s+name="bc-page-properties"\s+content="([^"]+)"\s*\/>/i);
        if (!metaTagMatch) {
            throw new Error("Meta tag with name 'bc-page-properties' not found");
        }
        
        const tags = metaTagMatch[1];
        const propArr = tags.split(",");
        let itemId, type;

        propArr.forEach(prop => {
            const cur = prop.replace(/[{}&quot;\" \/\\'\(\)]/g, '');
            const [key, val] = cur.split(":");

            if (key.startsWith("item_id")) {
                itemId = val;
            }
            if (key.startsWith("item_type")) {
                type = val === 'a' ? "album" : "track";
            }
        });

        if (itemId && type) {
            const iframe = `<iframe style='border: 0; width: 100%; height: 42px;' src='https://bandcamp.com/EmbeddedPlayer/${type}=${itemId}/size=small/bgcol=333333/linkcol=ffffff/transparent=true/' seamless><a href='${url}'>Bandcamp album</a></iframe>`;
            document.body.innerHTML += iframe;
        } else {
            console.error("item_id or item_type not found");
        }
    })
    .catch(error => console.error('Error:', error));
</script>