<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<title>{% if page.title %}{{ page.title }}{% elif section.title %}{{ section.title }}{% else %}{{ config.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% elif section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}">

<link rel="canonical" href="{% if page.permalink %}{{ page.permalink }}{% elif section.permalink %}{{ section.permalink }}{% else %}{{ config.base_url }}{% endif %}">

<link rel="stylesheet" type="text/css" href="{{ get_url(path="assets/css/style.css") }}">
</head>
<body>
<header id="topheader">
<nav id="topnav">
<a href="{{ config.base_url }}">Home</a>
<a href="{{ get_url(path='@/posts/_index.md') }}">Archive</a>
<a href="{{ get_url(path='@/about/_index.md') }}">About</a>
</nav>
<img id="logo" src="{{ get_url(path='assets/img/logo.png') }}">
</header>
<main>
{% block content %}

{% endblock %}
</main>
<footer>{{ config.title }} is written by <a href="{% if config.extra.social %}{{ config.extra.social }}{% elif config.extra.email %}{{ config.extra.email }}{% else %}{{ config.base_url }}{% endif %}">{{ config.author }}</a>, built with the <a href="https://github.com/ZinRicky/zolaets">Zolaets</a> theme for <a href="https://www.getzola.org/">Zola</a> and hosted on {% if config.extra.web_host_link %}<a href="{{ config.extra.web_host_link }}">{{ config.extra.web_host }}</a>{% elif config.extra.web_host %}{{ config.extra.web_host }}{% else %}[REDACTED]{% endif %}.</footer>
</body>
</html>
